section{
    padding: 0 100px 210px 100px;
    
}
div{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 1_1 */
#lev1_1 div{
    background: salmon;
    transition: transform 3s;
    transform-origin: bottom left;
}

#lev1_1 div:hover{
    transform: scale(2) rotate(90deg);
}

/* 1_2 */
#lev1_2 article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}
#lev1_2 div{
    background: yellowgreen;
    transition: transform 2s;
}

#lev1_2 article:first-of-type div:nth-of-type(1):hover{
    transform: translate(50px, 50px);
}

#lev1_2 article:first-of-type div:nth-of-type(2):hover{
    transform: translateX(-50px);
}

#lev1_2 article:first-of-type div:nth-of-type(3):hover{
    transform: translateY(50px);
}

#lev1_2 article:last-of-type div:nth-of-type(1):hover{
    transform: rotate(45deg);
}

#lev1_2 article:last-of-type div:nth-of-type(2):hover{
    transform: scale(0.7, 2);
}

#lev1_2 article:last-of-type div:nth-of-type(3):hover{
    transform: skew(20deg, 10deg);
}